*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----variables----- */
:root{
    --bgcolor: #00BFFF;
    --traficColor: #302f2f;
    --black: #111;
    --white: #fff;
    --dark: rgb(10, 10, 10);
    --redLight: rgb(253, 39, 39);
    --yellowLight: rgb(255, 255, 0);
    --greenLight: rgb(8, 250, 8);
    --box1Color: rgb(252, 116, 252);
    --box2Color: rgb(250, 233, 236);
    --mountainColor: #3777B9;
    --cloud: #ECEFF1;
    --cloudShadow: rgba(0,0,0,0.2);
}


/* ---Traffic Light--- */

.firstAnnimation{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor) ;
    height: 100vh;
    
}

.trafficLight{
    background-color: var(--traficColor);
    border: 13px solid var(--white);
    border-radius: 80px;
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.trafficRed,
.trafficYellow,
.trafficGreen{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 15px solid var(--dark) ;
}

.trafficRed{
    background-color: var(--redLight);
    animation: redLight 10s  infinite ;
}
 
@keyframes redLight{
    0%,
    30%{
        background-color:  var(--redLight);
    }
    31%,
    100%{
        background-color:var(--black);
    }
}

.trafficYellow{
    background-color: var(--yellowLight);
    animation: yellowLight 10s  infinite ;
}

@keyframes yellowLight{
    0%,
    30%{
        background-color: var(--black);
    }
    31%,
    60%{
        background-color: var(--yellowLight) ;
    }
    61%,
    100%{
        background-color: var(--black);
    }
}

.trafficGreen{
    background-color: var(--greenLight);
    animation: greenLight 10s  infinite ;
}

@keyframes greenLight{
    0%,
    60%{
        background-color: var(--black);
    }
    61%,
    100%{
        background-color:  var(--greenLight);
    }
}



/* ----boxes----- */

.secondAnnimation{
    height: 100vh;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box1{
    height: 150px;
    width: 150px;
    background-color: var(--box1Color);
    position: relative;
    right: -400px;
    animation: firstBox  5s ease-in-out  infinite;
}

@keyframes firstBox {
    50%{
        top: 0;
        right: 300px;
    }
}


.box2{
    height: 150px;
    width: 150px;
    background-color: var(--box2Color);
    position: relative;
    opacity: 0.6;
    left: 0;
    animation: firstBox  5s ease-in-out  infinite;
}


/* -----heart----- */


.thirdAnnimation{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.heart{
    height: 150px;
    width: 150px;
    background-color: var(--redLight);
    transform: rotate(45deg);
    position: relative;
    animation:  heartbeat 2s infinite;
}

.heart:before{
    content: '';
    background-color: var(--redLight);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: -75px;
    right: 0;
}

.heart:after{
    content: '';
    background-color: var(--redLight);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0px;
    right: 75px;
}

@keyframes heartbeat {
    0%{
        transform: scale(1) rotate(45deg);
    }


    100%{
        transform: scale(1.25) rotate(45deg);
    }

}


/* -----clock----- */

.fourthAnnimation{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.fourthAnnimation h2{
    margin-top: 20px;
    font-weight: 1000;
    color: var(--bgcolor);
}

.smallCircle{
    border: 15px solid var(--bgcolor);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    top: 8px;
}

.bigCircle{
    border: 20px solid var(--bgcolor);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: move 10s infinite linear; 
}
.bigCircle:hover{
    animation-play-state: paused;
}

.hand{
    height: 90px;
    width: 8px;
    background-color: var(--bgcolor);
    border-radius: 20px;
    position: relative;
    top: -40px;  
    
}

.hand:after{
    content: '';
    background-color: var(--bgcolor);
    border-radius: 50%;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 75px;
    left: -3.5px;
      
}

@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* ----mountain--- */

.fifthAnnimation{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    background-color: var(--bgcolor);
    z-index: 2;
}

.mountain1{
    position: absolute;
    left: 250px;
    bottom: 100px;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 300px solid var(--mountainColor);
}

.mountain2{
    position: absolute;
    bottom: 100px;
    border-left: 200px solid transparent;
    border-right: 220px solid transparent;
    border-bottom: 220px solid var(--mountainColor);
}
.mountain3{
    position: absolute;
    left: 650px;
    bottom: 100px;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 300px solid var(--mountainColor);
}

.sun{
    height: 150px;
    width: 150px;
    background-color: var(--yellowLight);
    border-radius: 50%;
    position: relative;
    top: 180px;
    left: 300px ;
    animation: sunMotion 5s forwards alternate infinite;
    z-index: -1;
}

@keyframes sunMotion{
   to{
       transform: translateY(-300px);
   }
} 

.cloud{
    height: 100px;
    width: 250px;
    background-color: var(--cloud);
    box-shadow: 10px 10px  var(--cloudShadow);
    border-radius:80px ;
    position: relative;
    top: -100px;
    right: 500px;
    z-index: -1;
    animation: cloudMotion 25s   forwards alternate infinite;
}

.cloud:before{
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--cloud);
    position: absolute;
    left: 30px;
    top: -40px;
}

.cloud:after{
    content: '';
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: var(--cloud);
    position: absolute;
    left: 80px;
    top: -50px;
}

@keyframes cloudMotion {
    
    50%{
        right: -500px;
    }
}

.cloud2{
    height: 60px;
    width: 150px;
    background-color: var(--cloud);
    box-shadow: 10px 10px  var(--cloudShadow);
    border-radius:80px ;
    position: relative;
    top: 00px;
    right: 300px;
    z-index: -1;
    animation: cloudMotion2 30s alternate infinite;
}

.cloud2:before{
    content: '';
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--cloud);
    position: absolute;
    left: 30px;
    top: -35px;
}

@keyframes cloudMotion2 {
    
    50%{
        right: -400px;
    }
}








